
.top{
   text-align: center;
}
.layout{
    width: 100%;
    max-width: 480px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divLayout{
    width: 30%;
    height: auto;
    text-align: center;
    
}
.divLayout2{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
@import url('https://fonts.googleapis.com/css?family=Orbitron');
.P1{
    font-size: 1.5rem;
    font-family:'Orbitron', sans-serif;
    font-weight: bold;
    
}
.P2{
    font-size: 1rem;
    font-weight: bold;
    font-family:'Orbitron', sans-serif;
}

.divLayout2{
   display: grid;
}
.top span{
    font-size: 1rem;
    font-weight: bold;
   
    text-align: start;
    padding-left: 1rem;
}

